{{#if showList}}
  {{clinic-announcements clinic=model selectedDate=selectedDate store=store}}

  {{#if quickWeek}}
    <b>You can use the buttons below to jump quickly between the next 6 weeks for this clinic:</b>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group-justified">
        {{#each next_weeks.firstThree}}
          <div class="btn-group">
            <button type="button" class="btn btn-default" {{action 'dateChosen' date}}>In {{weekName}} wks - {{formattedDate}}</button>
          </div>
        {{/each}}
      </div>
      <div class="btn-group-justified">
        {{#each next_weeks.secondThree}}
          <div class="btn-group">
            <button type="button" class="btn btn-default" {{action 'dateChosen' date}}>In {{weekName}} wks - {{formattedDate}}</button>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <a href="" class="pull-right" {{action openPicker}}>Choose a particular date</a>
  {{date-field selectedDate=selectedDate defaultDate=defaultDate type=showPicker}}

  <br/>
  <table class="table">
    <thead>
      <h3 style="text-align: center;">{{selectedDateFormatted}}</h3>
      <ul class="pager">
        <li {{action dateForward}}><a href=""><span class="glyphicon glyphicon-step-backward"></span>Prev</a></li>
        <li {{action dateBackward}}><a href="">Next<span class="glyphicon glyphicon-step-forward"></span></a></li>
      </ul>
    </thead>
    {{#each times}}
      <tbody>
        {{#if service_user}}
          <tr>
            <td>
              {{time}}
            </td>
            <td>
              {{#link-to 'service_user.personal' service_user.id}}
                {{service_user.personal_fields.name}}
              {{/link-to}}
            </td>
            <td>
              {{service_user.gestation}}
            </td>
            <td {{action 'openAppointmentModal'}}
              <h2><span class="glyphicon glyphicon-edit"></span></h2>
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              {{time}}
            </td>
            <td>
              <div {{action 'openBookingModal' this.time}}
                <span class="glyphicon glyphicon-plus-sign"></span> Free Slot
              </div>
            <td>
            <td></td>
            <td></td>
          </tr>
        {{/if}}
      </tbody>
    {{/each}}
  </table>
{{/if}}
