{{#if navbar}}
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      {{input type="text" value=searchString placeholder="Search..." class="form-control"}}
    </div>
  </form>
{{else}}
  {{input type="text" value=searchString placeholder="Search..."}}
{{/if}}

<ul>
  {{#each searchResults}}
    <li {{action 'resultSelected' this}}>{{personal_fields.name}} - {{hospital_number}}</li>
  {{/each}}
</ul>
