{{#modal-dialog action="closeModal"}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action "closeModal"}}>
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h2 class="modal-title">Home Visit Summary</h2>
  </div>
  <div class="modal-body">
    <table class="table">
      <tr>
        <td>Service User</td>
        <td>{{model.service_user.personal_fields.name}}</td>
      </tr>
      <tr>
        <td>Service Provider</td>
        <td>
          {{view Ember.Select
                content=service_providers
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=selected_sp.id
                }}
        </td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>
          {{model.service_user.personal_fields.home_phone}}
        </td>
      </tr>
      <tr>
        <td>Location</td>
        <td>
          {{model.service_user.personal_fields.home_address_line1}} <br/>
          {{model.service_user.personal_fields.home_address_line2}} <br/>
          {{model.service_user.personal_fields.home_county}} <br/>
          {{#if model.service_user.personal_fields.directions}}
            Directions: {{model.service_user.personal_fields.directions}} <br/>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td>
          {{date-field selectedDate=selectedDate defaultDate=model.date type='text'}}
        </td>
      </tr>
      <tr>
        <td>Email To</td>
        <td>{{model.service_user.personal_fields.email}}</td>
      </tr>
      <tr>
        <td>SMS To</td>
        <td>{{model.service_user.personal_fields.mobile_phone}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" {{action "closeModal"}}>Close</button>
    <button type="button" class="btn btn-primary" {{action "updateAppointment"}}>Save</button>
  </div>
{{/modal-dialog}}
