<div class="well">
  <h2>Add Service User</h2>

  <div id="su_errors">
    {{#each errorMessages}}
      <div class="error">
        {{this.key}}: {{this.value}}
      </div>
    {{/each}}
  </div>

  {{#em-form model=model}}
    {{em-input property="name" label="Full Name" placeholder="Enter a full name"}}
    {{em-input property="email" label="Email" placeholder="Enter an email"}}
    {{em-input property="hospital_number" label="Hospital Number" placeholder="Can be left blank until later"}}
    {{em-text property="address" label="Address" placeholder="Full Address"}}
    {{em-select property="home_county" label="Home County" content=homeCountyOptions
            optionValuePath="content.type"
            optionLabelPath="content.type"
            prompt="Choose a County"
    }}
    {{em-input property="home_post_code" label="Post Code" placeholder="Post Code if applicable"}}
    {{em-input property="home_phone" label="Home Phone" placeholder="Primary contact number"}}
    {{em-input property="mobile_phone" label="Personal Phone" placeholder="Secondary contact number"}}
    {{em-input property="next_of_kin_name" label="Next Of Kin Name" placeholder="Next of kin's full name"}}
    {{em-input property="next_of_kin_phone" label="Next Of Kin Phone" placeholder="Next of kin's phone number"}}
  {{/em-form}}
</div>
