<table class="table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{model.name}}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{model.username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{model.email}}</td>
    </tr>
    <tr>
      <td>Primary Phone</td>
      <td>{{model.primary_phone}}</td>
    </tr>
    <tr>
      <td>Secondary Phone</td>
      <td>{{model.secondary_phone}}</td>
    </tr>
    <tr>
      <td>Admin Access</td>
      <td>{{model.admin}}</td>
    </tr>
    <tr>
      <td>Active Service Provider</td>
      <td>{{model.active}}</td>
    </tr>
    <tr>
      <td>Job Occupation</td>
      <td>{{model.job_occupation}}</td>
    </tr>
    <tr>
      <td>Job Level</td>
      <td>{{model.job_level}}</td>
    </tr>
  </tbody>
</table>

