<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Mother</h3>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>Mode Of Birth</td>
        <td>{{editable-multi-select selectValue=current_pregnancy.birth_mode selectContent=birth_modes}}</td>
      </tr>
      <tr>
        <td>Perineum</td>
        <td>
          {{#if controllers.application.currentUser.admin}}
            {{editable-select selectValue=current_pregnancy.perineum selectContent=perineum_choices}}
          {{else}}
            {{current_pregnancy.perineum}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Anti D</td>
        <td>{{view SmartClient.InplaceTextField contentBinding="current_pregnancy.anti_d"}}</td>
      </tr>
      <tr>
        <td>Feeding</td>
        <td>{{editable-select selectValue=current_pregnancy.feeding selectContent=feeding_types}}</td>
      </tr>
      <tr>
        <td>Last Menstrual Period</td>
        <td><input id="last_menstrual_period" type="date" value="{{unbound current_pregnancy.last_menstrual_period}}"></td>
      </tr>
      <tr>
        <td>Midwife Notes</td>
        <td>{{view SmartClient.InplaceTextField contentBinding="current_pregnancy.additional_info"}}</td>
      </tr>
    </tbody>
  </table>
</div>

<button {{action 'savePregnancy' current_pregnancy.id}} class="btn btn-success">Save Mother's Details</button>

<hr/>

{{#each current_pregnancy.babies}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Baby</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Date Of Delivery</td>
          <td><input id="delivery_date" type="date" value="{{unbound delivery_date}}"></td>
        </tr>
        <tr>
          <td>Time Of Delivery</td>
          <td><input id="delivery_time" type="time" value="{{unbound delivery_time}}"></td>
        </tr>
        <tr>
          <td>Days Since Birth</td>
          <td>{{days_since_birth}}</td>
        </tr>
        <tr>
          <td>Sex Of Baby</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="gender"}}</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>{{editable-field contentBinding="weight" customDisplayBinding="kg_weight"}} kgs</td>
        </tr>
        <tr>
          <td>Vitamin K</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="vitamin_k"}}</td>
        </tr>
        <tr>
          <td>Hearing</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="hearing"}}</td>
        </tr>
        <tr>
          <td>Birth Outcome</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="birth_outcome"}}</td>
        </tr>
        <tr>
          <td>NBST</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="newborn_screening_test"}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button {{action 'saveBaby' id}} class="btn btn-success">Save Baby Details</button>
{{/each}}
