<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Mother</h3>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>Mode Of Birth</td>
        <td>{{editable-multi-select selectValue=current_pregnancy.birth_mode selectContent=birth_modes}}</td>
      </tr>
      <tr>
        <td>Perineum</td>
        <td>
          {{#if controllers.application.currentUser.admin}}
            {{editable-select selectValue=current_pregnancy.perineum selectContent=perineum_choices}}
          {{else}}
            {{current_pregnancy.perineum}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Anti D</td>
        <td>{{editable-select selectValue=current_pregnancy.anti_d selectContent=anti_d_choices}}</td>
        <td>
          <a class="pull-right">
            <h3 style="display: inline;" data-toggle="modal" data-target="#anti_d_su_{{unbound model.id}}">
              <span class="glyphicon glyphicon-info-sign"></span>
            </h3>
          </a>

          {{render "service_user/anti_ds" model}}
        </td>
      </tr>
      <tr>
        <td>Feeding</td>
        <td>{{editable-select selectValue=current_pregnancy.feeding selectContent=feeding_types}}</td>
      </tr>
      <tr>
        <td>Last Menstrual Period</td>
        <td><input id="last_menstrual_period" type="date" value="{{unbound current_pregnancy.last_menstrual_period}}"></td>
      </tr>
      <tr>
        <td>Midwife Notes</td>
        <td>{{view SmartClient.InplaceTextField contentBinding="current_pregnancy.additional_info"}}</td>
      </tr>
    </tbody>
  </table>
</div>

<button {{action 'savePregnancy' current_pregnancy.id}} class="btn btn-success">Save Mother's Details</button>

<hr/>

{{#each baby in current_pregnancy.babies}}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Baby</h3>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Date Of Delivery</td>
          <td><input id="delivery_date" type="date" value="{{unbound baby.delivery_date}}"></td>
        </tr>
        <tr>
          <td>Time Of Delivery</td>
          <td><input id="delivery_time" type="time" value="{{unbound baby.delivery_time}}"></td>
        </tr>
        <tr>
          <td>Days Since Birth</td>
          <td>{{baby.days_since_birth}}</td>
        </tr>
        <tr>
          <td>Sex Of Baby</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="baby.gender"}}</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>{{editable-field contentBinding="weight" customDisplayBinding="baby.kg_weight"}} kgs</td>
        </tr>
        <tr>
          <td>Vitamin K</td>
          <td>{{editable-select selectValue=baby.vit_k selectContent=vit_k_choices}}</td>
          <td>
            <a class="pull-right">
              <h3 style="display: inline;" data-toggle="modal" data-target="#vit_k_su_{{unbound baby.id}}">
                <span class="glyphicon glyphicon-info-sign"></span>
              </h3>
            </a>

            {{render "service_user/vit_ks" baby}}
          </td>
        </tr>
        <tr>
          <td>Hearing</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="baby.hearing"}}</td>
        </tr>
        <tr>
          <td>Birth Outcome</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="baby.birth_outcome"}}</td>
        </tr>
        <tr>
          <td>NBST</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="baby.newborn_screening_test"}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button {{action 'saveBaby' baby.id}} class="btn btn-success">Save Baby Details</button>
{{/each}}
