<div class="modal share-modal fade" id="vit_k_su_{{unbound model.id}}" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h3>Vitamin K History for {{model.name}}</h3>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <table class="table">
            <th>Value</th>
            <th>Time changed at</th>
            <th>Changed by</th>
            <tbody>
              {{#each vit_k in model.vit_k_histories}}
                <tr>
                  <td>{{vit_k.vit_k}}</td>
                  <td>{{vit_k.formatted_time}}</td>
                  <td>{{vit_k.service_provider.name}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
