{{#modal-dialog action="closeBookModal"}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action "closeBookModal"}}>
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{{time}} - {{suModel.personal_fields.name}}</h4>
  </div>
  <div class="modal-body">
    <h5>Booking time: {{time}}</h5>
    {{auto-search store=store resultSelected='bookServiceUser'}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" {{action "closeBookModal"}}>Close</button>
    <button type="button" class="btn btn-primary" {{action "closeBookModal" }}>Book</button>
  </div>
{{/modal-dialog}}
