<div>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SMART
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#each item in controller}}
          <li>{{#link-to item.resource}}{{item.label}}{{/link-to}}</li>
        {{/each}}
        <li>
          {{auto-search store=store resultSelected='openServiceUser' navbar=true}}
        </li>
        <li>
          {{#if isAuthenticated}}
            <button {{action 'logout'}} class="btn btn-default navbar-btn">
              <span class="glyphicon glyphicon-log-out"></span>{{currentUser.name}} Logout
            </button>
          {{else}}
            <button class="btn btn-default navbar-btn">
              {{#link-to 'login'}}
                <span class="glyphicon glyphicon-log-in"></span> Login
              {{/link-to}}
            </button>
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4">{{outlet}}</div>
      <div class="col-md-8">
        {{outlet clinic}}
        {{outlet service_provider}}
      </div>
    </div>
  </div>
{{outlet modal}}
</div>
