<div class="panel panel-info">
  <div class="panel-heading">
    <b>{{model.service_user.personal_fields.name}} - {{model.service_user.clinical_fields.hospital_number}}</b>
    <small>{{model.service_user.gestation_period}}</small>
    <br/>
    <span class="glyphicon glyphicon-phone"></span>
    {{model.service_user.personal_fields.mobile_phone}}
    <br/>
    {{#if this.isEmergency}}
      <span class="label label-danger">
        Emergency
      </span>&nbsp;
    {{/if}}
    <div class="appointment-tags selected-tags btn-group btn-group-xs">
      {{#each selectedTags}}
          <button {{action 'untag' this.id}} type="button" class="btn btn-small btn-success">
            {{this.name}}
          </button>
      {{/each}}
    </div>
    <div class="appointment-tags btn-group btn-group-xs">
      {{#each remainingTags}}
          <button {{action 'tag' this.id}} type="button" class="btn btn-small btn-default">
            {{this.name}}
          </button>
      {{/each}}
    </div>
    <div class="controls pull-right">
      {{#link-to 'appointment.edit' model}}
        <span class="glyphicon glyphicon-pencil"></span> Edit
      {{/link-to}}
      {{#if model.canDelete}}
        |
        <a href="#" {{action "delete"}}>
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      {{/if}}
    </div>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>
        <span class="glyphicon glyphicon-home"></span> Address
      <dt>
      <dd>
        {{model.service_user.personal_fields.address}}
      </dd>
      <dt>
        <span class="glyphicon glyphicon-map-marker"></span> Directions
      </dt>
      <dd>
        {{model.service_user.personal_fields.directions}}
      </dd>
      <dt>
        <span class="glyphicon glyphicon-envelope"></span> Email
      </dt>
      <dd>
        {{model.service_user.personal_fields.email}}
      </dd>
      <dt>
        <span class="glyphicon glyphicon-phone-alt"></span> Home phone
      </dt>
      <dd>
        {{model.service_user.personal_fields.home_phone}}
      </dd>
      {{#if model.service_user.personal_fields.next_of_kin_phone}}
        <dt>
          <span class="glyphicon glyphicon-earphone"></span> Partner phone
        </dt>
        <dd>
          {{model.service_user.personal_fields.next_of_kin_phone}}
        </dd>
      {{/if}}
      <dt>
        <span class="glyphicon glyphicon-tasks"></span> Visit Notes
      </dt>
      <dd>
        <ul>
          {{#each model.visit_logs}}
            <li>{{notes}} | {{created_at}}</li>
          {{/each}}
        </ul>
      </dd>
    </dl>
  </div>
</div>

{{outlet}}
