<h1>Appointments</h1>

<a href="#" {{action myAppointments}}>My appointments only</a>
<br/>
{{#link-to 'appointments.create'}}New{{/link-to}}

{{outlet filters}}

<br/>
<br/>

<div class="list-group">
  {{#each}}
    {{#link-to 'appointment' this.id class="list-group-item"}}
        {{this.calendarDateTime}}
        {{#if this.service_provider}}
          (seen by: {{this.service_provider.name}})
        {{/if}}
        <span class="badge">{{this.visit_type}}</span>
        {{#each this.tags}}
          <span class="label label-success">
            {{this.name}}
          </span>&nbsp;
        {{/each}}
      {{/link-to}}
  {{/each}}
</div>

{{outlet}}
