<h1>Appointments</h1>

<a href="#" {{action myAppointments}}>My appointments only</a>
<br/>
{{#link-to 'appointments.create'}}New{{/link-to}}

{{outlet filters}}

<br/>
<br/>

<ul>
 {{#each model}}
 <li>
    {{#link-to 'appointment' this.id}}
      {{this.calendarDateTime}} : {{this.id}}
       | {{this.visit_type}} | {{this.service_user_id}}
    {{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
