<h1>Appointments</h1>

<ul class="nav nav-tabs" role="tablist">
  <li {{bind-attr class="showMyOnly:activeasdf"}}>
    <a href="#" {{action myAppointments}}>
      <span class="glyphicon glyphicon-star"></span>
      My appointments
    </a>
  </li>
  <li>
    <a href="#" {{action clearFilters}}>
      <span class="glyphicon glyphicon-th-list"></span>
      All
    </a>
  </li>
  <li>
    {{#link-to 'appointments.create'}}
      <span class="glyphicon glyphicon-plus"></span>
      New
    {{/link-to}}
  </li>
</ul>
<br/>

{{outlet filters}}

<br/>
<br/>

<div class="list-group">
  {{#each}}
    {{#link-to 'appointment' this.id class="list-group-item"}}
        {{this.calendarDateTime}}
        {{#if this.service_provider}}
          (seen by: {{this.service_provider.name}})
        {{/if}}
        <span class="badge">{{this.visit_type}}</span>
        {{#each this.tags}}
          <span class="label label-success">
            {{this.name}}
          </span>&nbsp;
        {{/each}}
      {{/link-to}}
  {{/each}}
</div>

{{outlet}}
