<h1>Appointments</h1>

<a href="#" {{action myAppointments}}>My appointments only</a>
<br/>
{{#link-to 'appointments.create'}}New{{/link-to}}

{{outlet filters}}

<br/>
<br/>

<ul class="list-group">
  {{#each}}
    <li class="list-group-item">
      {{#link-to 'appointment' this.id}}
        {{this.calendarDateTime}}
        {{#if this.service_provider}}
          (seen by: {{this.service_provider.name}})
        {{/if}}
      {{/link-to}}
      <span class="badge">{{this.visit_type}}</span>
      {{#each this.tags}}
        <span class="label label-success">
          {{this.name}}
        </span>&nbsp;
      {{/each}}
    </li>
  {{/each}}
</ul>

{{outlet}}
