<h1>Appointments</h1>

{{#link-to 'appointments.create'}}New{{/link-to}}

<br/>
Filters:
<br/>
<span class="filters">
  Visit Type:
  <div class="btn-group">
    {{#each visit_types}}
      <button
        {{action 'filterByVisitType' this.id}}
        type="button"
        {{bind-attr class=":btn :btn-default this.selected:btn-info"}}>
          {{this.name}}
      </button>
    {{/each}}
  </div>
  <br/>

  Priority:
  <div class="btn-group">
    {{#each priorities}}
      <button
        {{action 'filterByPriority' this.id}}
        type="button"
        {{bind-attr class=":btn :btn-default this.selected:btn-info"}}>
          {{this.name}}
      </button>
    {{/each}}
  </div>
  <br/>
  Service Provider:
  {{view Ember.Select
          content=service_providers
          prompt="Filter by Service Provider"
          value=selectedSP
          name=selectedSP
          }}
  Category:
  {{view Ember.Select
          content=categories
          prompt="Filter by Category"
          value=selectedCategory
          name=selectedCategory
          }}
  <button {{action 'clearFilters'}} type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-remove"></span>
    Clear
  </button>
</span>
<br/>
<br/>

Dates:
<div class="btn-group">
  {{#each dates}}
    <button
      {{action 'filterByDate' this.date}}
      type="button"
      {{bind-attr class=":btn :btn-default this.selected:btn-info"}}>
        {{this.date}}
    </button>
  {{/each}}
</div>
<br/>
<br/>

<ul>
 {{#each model}}
 <li>
    {{#link-to 'appointment' this}}
      {{this.calendarDateTime}} : {{this.id}}
       | {{this.visit_type}} | {{this.service_user_id}}
    {{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
