<h1>Appointments</h1>

{{outlet serviceOptionSelector}}

{{!#if view.showAppointments}}
  {{outlet dateFilter}}
  <br/>
  <div class="list-group">
    {{#each appointment in controller}}
      <li class="list-group-item">
        <span class="pull=left">
          {{time}}
        </span>
        <span class="pull=left">
          {{#link-to 'service_user' service_user.id }}
            {{service_user.personal_fields.name}}
          {{/link-to}}
        </span>
        <span class="">
          {{service_user.gestation}}
        </span>
        {{#link-to 'appointment' this.id class="pull-right"}}
          <span class="glyphicon glyphicon-info-sign"></span>
        {{/link-to}}
      </li>
    {{/each}}
  </div>
{{!/if}}

{{outlet}}
