<div class="well">
  <h1>Appointment</h1>

  {{render 'appointment.tags' model.tags}}
  <br/>
  <br/>

  <table>
    <tbody>
      {{#each model.attributes}}
      <tr>
        <td>
          <strong>{{this.key}}:</strong>
        </td>
        <td>
          {{this.value}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="well">
    <h4>Visit Notes</h4>
    <ul>
      {{#each model.visit_logs}}
        <li>{{notes}} | {{created_at}}</li>
      {{/each}}
    </ul>
  </div>

  {{#link-to 'appointment.edit' model}}Change{{/link-to}}
  {{#if model.canDelete}}
    | <a href="#" {{action "delete"}}>Delete</a>
  {{/if}}
</div>

{{outlet}}
