<h1>Appointments</h1>

<ul class="nav nav-tabs" role="tablist">
  <li {{bind-attr class="showMyOnly:active"}}>
    <a href="#" {{action myAppointments}}>
      <span class="glyphicon glyphicon-star"></span>
      My appointments
    </a>
  </li>
  <li {{bind-attr class="noFiltersApplied:active"}}>
    <a href="#" {{action clearFilters}}>
      <span class="glyphicon glyphicon-th-list"></span>
      All
    </a>
  </li>
  <li>
    {{#link-to 'appointments.create'}}
      <span class="glyphicon glyphicon-plus"></span>
      New
    {{/link-to}}
  </li>
</ul>
<br/>

{{outlet filters}}

<br/>
<br/>

<div class="list-group">
  {{#each appointment in controller}}
    {{#link-to 'appointment' this.id class="list-group-item"}}
        <h4 class="list-group-item-heading">
          {{this.calendarDateTime}}
          {{#if this.isEmergency}}
            <span class="label label-danger">
              Emergency
            </span>&nbsp;
          {{/if}}
          {{#each this.tags}}
            <span class="label label-success">
              {{this.name}}
            </span>&nbsp;
          {{/each}}
        </h4>
        <p class="list-group-item-text">
          <span class="badge">{{this.visit_type}}</span>
          {{#if this.service_provider}}
            (seen by: {{this.service_provider.name}})
          {{/if}}
        </p>
      {{/link-to}}
  {{/each}}
</div>

{{outlet}}
