<div class="well">
  <h1>Appointment</h1>

  <div class="appointment-tags selected-tags btn-group btn-group-sm">
    {{#each selectedTags}}
        <button {{action 'untag' this.id}} type="button" class="btn btn-small btn-primary">
          {{this.name}}
        </button>
    {{/each}}
  </div>
  <div class="appointment-tags btn-group btn-group-sm">
    {{#each remainingTags}}
        <button {{action 'tag' this.id}} type="button" class="btn btn-small btn-default">
          {{this.name}}
        </button>
    {{/each}}
  </div>
  <br/>
  <br/>

  <table>
    <tbody>
      {{#each model.attributes}}
      <tr>
        <td>
          <strong>{{this.key}}:</strong>
        </td>
        <td>
          {{this.value}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="well">
    <h4>Visit Notes</h4>
    <ul>
      {{#each model.visit_logs}}
        <li>{{notes}} | {{created_at}}</li>
      {{/each}}
    </ul>
  </div>

  {{#link-to 'appointment.edit' model}}Change{{/link-to}}
  {{#if model.canDelete}}
    | <a href="#" {{action "delete"}}>Delete</a>
  {{/if}}
</div>

{{outlet}}
