<h1>Set New Password</h1>

  <div id="sp_errors">
    {{#each errorMessages}}
      <div class="error">
        {{this.key}}: {{this.value}}
      </div>
    {{/each}}
  </div>

  {{#em-form model=model}}
    {{em-input property="password" label="Password" placeholder="" type="password"}}
    {{em-input property="password_verification" label="Verify Password" placeholder="" type="password"}}
  {{/em-form}}
{{outlet}}
