<h1>Reset Password</h1>

  <div id="rp_errors">
    {{#each errorMessages}}
      <div class="error">
        {{this.key}}: {{this.value}}
      </div>
    {{/each}}
  </div>

  {{#em-form model=model}}
    {{em-input property="username" label="Username" placeholder="Your Username"}}
    {{em-input property="email" label="Email" placeholder="Your Email"}}
  {{/em-form}}

{{outlet}}
