<div class="well">
  <h1>Service User <button class="btn btn-primary btn-large pull-right" {{action 'new_appointment' id}}>
    <i class="icon-white icon-calendar"></i> Book</button>
  </h1>

    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="personal_fields.name"}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{view SmartClient.InplaceTextArea contentBinding="personal_fields.address"}}</td>
        </tr>
        <tr>
          <td>EDD</td>
          <td>{{current_edd}}</td>
        </tr>
        <tr>
          <td>Gestation</td>
          <td>{{gestation}}</td>
        </tr>
      </tbody>
    </table>

    <button {{action 'save'}} class="btn btn-success">Save</button>

    <div id="su_success" class="alert alert-success" style="display:none">
      <a href="#" class="close" {{action 'close'}}>&times;</a>
      <strong>Success</strong>, Service User updated.
    </div>
  </div>

  <div class="well">
    <h4>Pregnancies<h4>
    {{#each pregnancies}}
      <li>{{id}}</li>
      <li>{{estimated_delivery_date}}</li>
    {{/each}}
  </div>

  <div class="well">
    <h4>Babies<h4>
    {{#each babies}}
      <li>{{id}}</li>
      <li>{{delivery_date_time}}</li>
    {{/each}}
  </div>

{{outlet}}
