<div class="well">
  <h1>Service User
    {{#link-to 'service_user.service_options'}}
      <button class="btn btn-primary btn-large pull-right">
        <i class="icon-white icon-calendar"></i> Book
      </button>
    {{/link-to}}
  </h1>

    <table class="table">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="personal_fields.name"}}</td>
        </tr>
        <tr>
          <td>Home type</td>
          <td>{{view SmartClient.InplaceSelect contentBinding="personal_fields.home_type" selectContent=home_types optionLabelPath="content.name" optionValuePath="content.id"}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{view SmartClient.InplaceTextArea contentBinding="personal_fields.home_address"}}</td>
        </tr>
        <tr>
          <td>Home Post Code</td>
          <td>{{view SmartClient.InplaceTextField contentBinding="personal_fields.home_post_code"}}</td>
        </tr>
        <tr>
          <td>Home county</td>
          <td>{{view SmartClient.InplaceSelect contentBinding="personal_fields.home_county" selectContent=home_counties optionLabelPath="content.name" optionValuePath="content.id"}}</td>
        </tr>
        <tr>
          <td>EDD</td>
          <td>{{current_edd}}</td>
        </tr>
        <tr>
          <td>Gestation</td>
          <td>{{gestation}}</td>
        </tr>
      </tbody>
    </table>

    <button {{action 'save'}} class="btn btn-success">Save</button>

    <div id="su_success" class="alert alert-success" style="display:none">
      <a href="#" class="close" {{action 'close'}}>&times;</a>
      <strong>Success</strong>, Service User updated.
    </div>
  </div>

  <div class="well">
    <h4>Pregnancies<h4>
    {{#each pregnancies}}
      <table class="table">
        <tbody>
          <tr>
            <td>Estimated Delivery Date</td>
            <td>{{view SmartClient.InplaceTextField contentBinding="estimated_delivery_date"}}</td>
          </tr>
          <tr>
            <td>Additional Information</td>
            <td>{{view SmartClient.InplaceTextField contentBinding="additional_info"}}</td>
          </tr>
          <tr>
            <td>Birth Mode</td>
            <td>{{view SmartClient.InplaceTextField contentBinding="birth_mode"}}</td>
          </tr>
          <tr>
            <td>Perineum</td>
            <td>{{view SmartClient.InplaceTextField contentBinding="perineum"}}</td>
          </tr>
          <tr>
            <td>Anti D</td>
            <td>{{view SmartClient.InplaceTextField contentBinding="anti_d"}}</td>
          </tr>
        </tbody>
      </table>
      <button {{action 'savePregnancy' id}} class="btn btn-success">Save Pregnancy Details</button>
    {{/each}}
  </div>

  <div class="well">
    <h4>Babies<h4>
    {{#each babies}}
      <li>{{id}}</li>
      <li>{{delivery_date_time}}</li>
    {{/each}}
  </div>

{{outlet}}
