<div class="well">
  <h1>{{view SmartClient.InplaceTextField contentBinding="personal_fields.name"}}
    {{#link-to 'service_user.service_options'}}
      <button class="btn btn-primary btn-large pull-right">
        <i class="icon-white icon-calendar"></i> New appointment
      </button>
    {{/link-to}}
  </h1>
  <h4>{{age}} yrs, P: {{clinical_fields.parity}}, G: {{gestation}}</h4>

  <hr/>

  <div class="btn-group btn-group-lg">
    {{#link-to 'service_user.ante'}}
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-fast-backward"></span> Ante-Natal
      </button>
    {{/link-to}}
    {{#link-to 'service_user.personal'}}
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user"></span> Personal
      </button>
    {{/link-to}}
    {{#link-to 'service_user.post'}}
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-fast-forward"></span> Post-Natal
      </button>
    {{/link-to}}
  </div>

  <hr/>

  {{outlet suFields}}

  {{error-list
      divId="su_edit_errors"
      errorMessages=errorMessages
  }}

  <div id="su_success" class="alert alert-success" style="display:none">
    <a href="#" class="close" {{action 'close'}}>&times;</a>
    <strong>Success</strong>, Service User updated.
  </div>
</div>

{{outlet}}
