<h1>Add Appointment</h1>

{{#if model.errors.messages}}
  {{#each model.errors.messages}}
    <div class="error">
      {{this}}
    </div>
  {{/each}}
{{/if}}

{{#em-form model=model}}
  {{em-input property="appointment_category_id" label="Category" placeholder="Select a category..."}}
  {{em-input property="date" label="Date" placeholder="YYYY-MM-DD"}}
  {{em-input property="time" label="Time" placeholder="HH:MM:SS"}}
  {{em-input property="service_provider_id" label="Service Provider" placeholder="Select service provider name..."}}
  {{em-input property="service_user_id" label="Service User" placeholder="Select a service user"}}
  {{em-select property="priority" label="Priority" content=priorities optionValuePath="content.id" optionLabelPath="content.name"}}
  {{em-select property="visit_type" label="Visit" content=visit_types optionValuePath="content.id" optionLabelPath="content.name"}}
{{/em-form}}
